/* @font-face {
    font-family: VampiroOne-Regular;
    src: url(/font/VampiroOne-Regular.ttf);
 }
 
 .font {
    font-family: VampiroOne-Regular;
 } */
 /* There is some path issue, so the node/heroku delopyment uses internal style instead. */